Repository LITdevs-archive/VukkyBot, changes with the labels that .github/labeler.yml gives for each.
All labels: embeds, documentation, commands

.github/labeler.yml:

embeds:
- embeds.js

documentation:
  - docs/**/*
  - CONTRIBUTING.md

commands:
  - commands/**/*

edited config test
  config.json
Labels: none

Revert "edited config test"
  config.json
Labels: none

Update edited-config.yml
  .github/workflows/edited-config.yml
Labels: none

Create wip.yml
  .github/workflows/wip.yml
Labels: none

idk
  config.json
  package-lock.json
  package.json
Labels: none

make setup validate tokens
  setup.js
Labels: none

add stuff
  commands/pet.js
Labels: commands

setup is no longer nested
  setup.js
Labels: none

destroy client after validating
  setup.js
Labels: none

slap
  commands/slap.js
Labels: commands

add covid19
  commands/covid19.js
  embeds.js
  package.json
Labels: embeds, commands

remove emojis from covid19
  embeds.js
Labels: embeds

feat: :sparkles: add event for when no one joins the vukkyzone
  commands/covid19.js
  commands/ping.js
  commands/vukkyzone.js
Labels: commands

feat: :lock: Prevent user from pinging with covid19
  commands/covid19.js
Labels: commands

talk also remove vukkyzone because this isnt vukkybot
  commands/talk.js
  commands/vukkyzone.js
Labels: commands

idk
  commands/vukkyzone.js
Labels: commands

talk
  commands/talk.js
Labels: commands

talk to fvn fix
  commands/talk.js
Labels: commands

kick/ban stuff
  commands/ban.js
  commands/kick.js
  commands/say.js
Labels: commands

trying to make the bot not abuse my children when they talk to it
  commands/talk.js
  config.json
Labels: commands

stop abusing my children and be nice to vukky
  commands/talk.js
  config.json
Labels: commands

cooldowns are dumb
  commands/say.js
  commands/talk.js
  index.js
Labels: commands

Delete wip.yml
  .github/workflows/wip.yml
Labels: none

put generic error and reload error in strings
  commands/reload.js
  config.json
  config.schema.json
  embeds.js
  strings.json
Labels: embeds, commands

quick localization fix
  embeds.js
Labels: embeds

remove debugging
  commands/reload.js
  config.json
Labels: commands

Update index.js
  index.js
Labels: none

refactor: :speech_balloon: minor tweaks to token validation & mysql prompt
  setup.js
Labels: none

docs: :memo: update mysqldisabled doc with setup.js change
  docs/troubleshooting/mysqldisabled.md
Labels: documentation

docs: :memo: fix grammar in mysqldisabled
  docs/troubleshooting/mysqldisabled.md
Labels: documentation

docs: :memo: dependencies -> extensions
  CONTRIBUTING.md
Labels: documentation
